.textAreaWrapper {
  position: relative;
  width: 100%;
}

.textAreaWrapper.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.styledTextArea {
  width: 100%;
}

.styledTextArea:focus {
  outline: none;
  border-color: #0066cc;
}

.styledTextArea:disabled {
  background-color: #f5f5f5;
  cursor: not-allowed;
  opacity: 0.6;
}

.styledTextArea::placeholder {
  color: #666666;
}